<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vop.augumented"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.vop.tools.VopApplication">
        <activity android:icon="@drawable/icon" 
        android:name="StartupActivity" 
        android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="Hoofdmenu"  android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape"></activity>
        <activity android:name="Berichten"  android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape"></activity>
        <activity android:name="Trajecten"  android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape"></activity>
        <activity android:name="Locaties"  android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="Profiel"  android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="Vrienden"  android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
    </application>
</manifest>