<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vop.augumented"
      android:versionCode="2" android:versionName="early alpha">
    <uses-sdk android:minSdkVersion="7" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>
    

    <application android:icon="@drawable/appicon" android:label="@string/app_name" android:name="com.vop.tools.VopApplication">
        <service android:enabled="true" android:name="TrajectService"/>
        <service android:enabled="true" android:name="HuidigeLocatieService"/>
        <activity android:icon="@drawable/appicon" 
        android:name="StartupActivity" 
        android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="Hoofdmenu"  android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" ></activity>
        <activity android:name="Berichten"  android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name="Trajecten"  android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" ></activity>
        <activity android:name="Locaties"  android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name="Profiel"  android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="Vrienden"  android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="LocatieMap"></activity>
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name="LocatieOpslaan"></activity>
        <activity android:name="ListLocaties" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="AugmentedRealityLocaties" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name="StartWandeling"></activity>
        <activity android:name="TrajectOpslaan" android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape">
            <intent-filter></intent-filter>
        </activity>
        <activity android:name="EditTraject" android:screenOrientation="landscape" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="ProfielWijzigen" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="PaswoordWijzigen" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="RegisterProfile" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="StartEenWandeling"></activity>
        <activity android:name="HuidigeLocatieOpslaan">
            <intent-filter></intent-filter>
        </activity>
        <activity android:name="ToevoegenVriend" android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" ></activity>
        <activity android:name="ProfielFriend" android:theme="@android:style/Theme.Light.NoTitleBar" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" ></activity>
        <activity android:name="TrajectOpslaanZien"></activity>
        
    </application>
</manifest>
